<div class="row">
  <div class="large-12 columns">
    <h1 style="text-align:center">Upcoming Elections</h1>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    
		<table>
			<thead>
				<tr>
					<th>Jurisdiction</th>
					<th>Tier</th>
					<th>Next Election</th>
				</tr>
			</thead>
			<tbody>
				<% @jurisdictions.each do |jurisdiction| %>
		  		<tr>
						<td><%= jurisdiction.name %></td>
						<td><%= jurisdiction.tier %></td>
						<% if !jurisdiction.elections.nil? %>
							<% puts "============= "%>
							<% puts "============= "%>
							<% puts jurisdiction.elections.first %>
							<% puts "============= "%>
							<% puts "============= "%>
							<td><%= jurisdiction.elections.first %></td>
						<% end %>
					</tr>
				<% end %>
			</thead>
		</table>
	</div>
</div>